*{
    font-family: cursive;
 
}
 
.btn{
background-color: blanchedalmond;
text-decoration: none;
padding: 10px 20px;
border-radius: 5px;
box-shadow: 5px 5px rgba(0, 0, 0, 0.336);
color: black;
 
}
.btn:hover{
padding: 12px 22px;
 
}
 
.center{
 
align-items: center;
display: flex;
justify-content: center;
flex-direction: column;
margin: 10px;
 
 
}
.corpo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 300px;
    flex-direction: row-reverse;
}
.texto{
margin: 3px 10px;
}
 img{
    width: 10px 300px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(255, 217, 0, 0.323);
 }
 body{
    background-color: rgb(86, 85, 85);
 }
 p{
    color: white;
    
    text-align: justify;
 }
 h1{
    color: white;
    text-shadow: 5px 5px 10px rgba(255, 217, 0, 0.323);
 }
 h2{
    color: white;
    text-shadow: 5px 5px 10px rgba(255, 217, 0, 0.323);
 }